<div>
  <div #container class="container">
    <div
      *ngFor="let stick of sticks"
      class="drag-object"
      [cdkDragData]="stick"
      (cdkDragReleased)="insideStickReleased($event)"
      style="transform:
        {{ 'translate3d(' + stick.x + 'px,' + stick.y + 'px, 0px)' }}
      "
      cdkDrag
    >
      <app-stick [data]="stick"></app-stick>
    </div>
  </div>
  <div class="toolbar">
    <div class="toolbar-container" cdkDropList>
      <div
        cdkDrag
        [cdkDragData]="horizontalStick"
        (cdkDragDropped)="stickDropped($event)"
      >
        <app-stick [style.zoom]="0.3" [data]="horizontalStick"></app-stick>
      </div>
      <div
        cdkDrag
        [cdkDragData]="verticalStick"
        (cdkDragDropped)="stickDropped($event)"
      >
        <app-stick [style.zoom]="0.3" [data]="verticalStick"></app-stick>
      </div>
      <div
        cdkDrag
        [cdkDragData]="angledStick"
        (cdkDragDropped)="stickDropped($event)"
      >
        <app-stick [style.zoom]="0.3" [data]="angledStick"></app-stick>
      </div>
      <div
        cdkDrag
        [cdkDragData]="angledStick2"
        (cdkDragDropped)="stickDropped($event)"
      >
        <app-stick [style.zoom]="0.3" [data]="angledStick2"></app-stick>
      </div>
    </div>
    <div class="top-right">
      <button (click)="sticks = []" mat-flat-button>Reset</button>
    </div>
  </div>
</div>
